<mat-toolbar color="primary">
  <span>Minhas Tarefas</span>
</mat-toolbar>

<br>
<mat-card class="card-cadastro">
  <mat-card-content>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Digite o id ">
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary">inserir</button>
    </mat-card-actions>
    <br>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Digite o titulo">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primay">inserir</button>
  </mat-card-actions>
</mat-card>
<br>
<div>
  <mat-card-actions>
    <button mat-raised-button color="primary">Concluida</button>
  </mat-card-actions>
  <mat-icon>tarefa</mat-icon>
</div>
